<div class="container">
  <h2 class="d-flex justify-content-center mt-4">Log in</h2>
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <br>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>


        <%= f.label :password, class: 'mt-2' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>

        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, class: 'mt-2' %>
          <%= f.label :remember_me, class: 'mt-2' %>
        <% end %>
        <br>
        <%= f.submit "Log in", class: 'btn btn-primary mt-2' %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary mt-2' %>
    <% end %>
    <p class="mt-3">New User? <%= link_to "Sign up now!", new_user_registration_path %></p>
    <%= link_to 'Privacy Policy', privacy_path%>
    </div>
  </div>
</div>




