
<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>


<div class="post d-flex">
    <%= gravatar_for post.user, size: 50 %>
  <div class ="post__right">
    <div class="post__header d-flex">
      <div class="username">
        <%= link_to post.user.name, user_path(post.user.id) %>
      </div>
      <div class="date time">
        <p>Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    </div>

    <div class=post__content>
      <%= post.content %>
    </div>
    <div class="post__footer d-flex">
      <div class="post__footer-likes">
        <% if pre_like %>
          <%= link_to(content_tag(:i, "", class: 'fas fa-heart icon red'), post_like_path(post, pre_like), method: :delete) %>
        <% else %>
          <%= link_to(content_tag(:i, "", class: 'fas fa-heart icon' ), post_likes_path(post), method: :post) %>
        <% end %>
        <span><%= post.likes.count %></span>
      </div>
      <div class="post__footer-comments">
        <%= link_to(content_tag(:i, "", class: 'fas fa-comment icon'), post_path(post)) %>
        <span><%= post.comments.count %></span>
      </div>
    </div>
  </div>
  <hr>
</div>
<%= render post.comments %>

