<%= post.content %>
<br>
<%= post.user.name %>
<hr>
<h2>Comments: </h2>
<% post.comments.each do |comment| %>
  <h3>User: <%= comment.user.name %></h3>
  <h3>Content: <%= comment.content %></h3>
<% end %>

<%= link_to 'Comment', post_path(post) %>
<br>

<p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(post), method: :post %>
<% end %>